* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
}

.search-column {
    background-color: lightgray;
}

.city {
    padding: 10px;
}

weather-list {
    padding: 5px;
}

span.severe {
    padding: 4px;
    background-color: red;
    color: white;
    border-radius: 10%;
}

span.moderate {
    padding: 4px;
    background-color: yellow;
    color: white;
    border-radius: 10%;
}

span.favorable {
    padding: 4px;
    background-color: green;
    color: white;
    border-radius: 10%;
}